<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE project>

<configuration scan="true" scanPeriod="60 seconds" debug="true">

	<appender name="core-db"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/imssf/imssf-resp.log</file>
		<encoder>
			<pattern>
				<charset>UTF-8</charset>
				<!-- %d{HH:mm:ss.SSS} %logger{35}:%method:%line %msg%n -->
				%d{HH:mm:ss.SSS} %logger{35}:%method:%line %msg%n
			</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/imssf/imssf-resp.log.%d{yyyy-MM-dd}.gz
			</fileNamePattern>
			<maxHistory>180</maxHistory>
		</rollingPolicy>
	</appender>


	<logger name="org.springframework" level="ERROR">
		<appender-ref ref="core-db" />
	</logger>

	<logger name="ru.in.ssf" level="INFO">
		<appender-ref ref="core-db" />
	</logger>
<!--	 <logger name="org.hibernate" level="DEBUG" >
	  <appender-ref ref="core-db" />
	</logger>
	  <logger name="org.hibernate.type" level="TRACE" /> 	
   	 <logger name="org.hibernate.SQL" level="TRACE" /> -->
</configuration>